<h1>New Movie</h1>

<%= form_tag(movies_url) do %>
  <p><%= label_tag :title %>
    <%= text_field_tag :title %></p>


  <p><%= label_tag :director %>
    <%= text_field_tag :director %></p>

  <p><%= label_tag :year %>
    <%= text_field_tag :year %></p>

  <p><%= submit_tag %></p>
<% end %>

<!-- <form action="/movies/create" method="post">
  <p><label for="title">Title:</label>
    <input type="text" id="title" name="title"></input></p>

  <p><label>Director:</label>
    <input type="text" name="director"></input></p>

  <p><label>Year:</label>
    <input type="text" name="year"></input></p>


  <input type="submit"></input>
</form>
 -->
